<h1>Document conversion</h1>

  <div class="card">
    <div class="card-body">
      <%= form_tag(document_conversions_path, method: :post, class: 'p-1') do %>
        <div class="mb-3">
          <label class="mb-0" for="file">File</label>
          <%= select_tag(:file, options_from_collection_for_select(@files, :uuid, :original_filename), class: 'form-control') %>
        </div>

        <div class="mb-3">
          <label class="mb-0" for="target_format">Target format</label>
          <%= select_tag(:target_format, options_for_select(document_target_formats), class: 'form-control') %>
        </div>

        <div class="mb-3">
          <label class="mb-0" for="page">Page</label>
          <%= number_field_tag 'page', nil, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= check_box_tag 'throw_error', true, false %>
          <label class="mb-0" for="throw_error">Throw error</label>
        </div>

        <div class="mb-4">
          <label class="mb-0" for="store">Store</label>
          <%= select_tag(:store, options_for_select(store_options), class: 'form-control') %>
        </div>

        <%= submit_tag 'Convert', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
