<%= form_tag(path, method: method) do %>

  <div class="mb-3">
    <label class="mb-0">Content</label>
    <%= text_field_tag :content, local_assigns[:comment_content], name: 'comment[content]', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label class="mb-0">File image</label><br>
    <%= uploadcare_uploader_field :comment, :image, class: 'mb-3' %>
  </div>

  <div class="mb-4">
    <label class="mb-0">File attachments</label><br>
    <%= uploadcare_uploader_field :comment, :attachments %>
  </div>

  <div>
    <%= submit_tag 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
