<h1>
  Active Storage post "<%= @active_storage_post.title %>"
  <div class="d-inline mr-0">
    <%= link_to "Edit", edit_active_storage_post_path(@active_storage_post), class: "btn btn-secondary" %>
    <%= link_to "Delete", active_storage_post_path(@active_storage_post), method: :delete, class: "btn btn-danger" %>
  </div>
</h1>

<h4 class="d-flex justify-content-between align-items-center mt-5">
  Cover image
</h4>
<% if @active_storage_post.cover_image.attached? %>
  <% attachment = @active_storage_post.cover_image %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="text-place flex-grow-1 text-truncate">
      <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: "attachment") %>
      <br>
      <div class="badge badge-secondary"><%= attachment.content_type %></div>
      <div class="badge badge-secondary"><%= number_to_human_size(attachment.byte_size) %></div>
      <div class="badge badge-secondary"><%= attachment.blob.service_name %></div>
    </div>
  </li>
<% else %>
  --
<% end %>

<h4 class="d-flex justify-content-between align-items-center mt-4">
  Attachments
</h4>
<% if @active_storage_post.attachments.attached? %>
  <% @active_storage_post.attachments.each do |attachment| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="text-place flex-grow-1 text-truncate">
        <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: "attachment") %>
        <br>
        <div class="badge badge-secondary"><%= attachment.content_type %></div>
        <div class="badge badge-secondary"><%= number_to_human_size(attachment.byte_size) %></div>
        <div class="badge badge-secondary"><%= attachment.blob.service_name %></div>
      </div>
    </li>
  <% end %>
<% else %>
  --
<% end %>
