<h1>Check file on virus</h1>

<div class="card">
  <div class="card-body border">
    <%= form_tag(remove_bg_index_path, method: :post, class: 'p-1') do %>
      <div class="mb-3">
        <label class="mb-0" for="file">File</label>
        <%= select_tag(:file, options_from_collection_for_select(@files, :uuid, :original_filename), class: 'form-control') %>
      </div>

      <div class="mb-3">
        <label class="mb-3" for="page">Options</label>
        <div class="row">
          <div class="col-1">
            <div class="mb-0">
              <%= check_box_tag :crop, true, false, name: 'options[crop]' %>
              <label class="mb-0" for="crop">crop</label>
            </div>
          </div>
          <div class="col-3">
            <label class="mb-0" for="crop_margin">crop margin</label>
            <%= text_field_tag :crop_margin, nil, name: 'options[crop_margin]', class: 'form-control', placeholder: '30px or 30%' %>
          </div>
          <div class="col-3">
            <label class="mb-0" for="height">scale</label>
            <%= text_field_tag :scale, nil, name: 'options[scale]', class: 'form-control', placeholder: '50%' %>
          </div>
          <div class="col-3">
            <label class="mb-0" for="height">type level</label>
            <%= number_field_tag :type_level, nil, name: 'options[type_level]', class: 'form-control' %>
            <hint class="text-muted font-size">allowed values: 0, 1, 2</hint>
          </div>
        </div>
      </div>

      <%= submit_tag 'Check', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
