<h4>Video / audio info</h4>
<% video_info = video_info.to_h.with_indifferent_access %>
<% video = video_info[:video].to_h.with_indifferent_access if video_info[:video].respond_to?(:to_h) %>
<% audio = video_info[:audio].to_h.with_indifferent_access if video_info[:audio].respond_to?(:to_h) %>
<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover mt-2">
    <tr>
      <th>Duration</th>
      <td><%= video_info[:duration] %></td>
    </tr>
    <tr>
      <th>Format</th>
      <td><%= video_info[:format] %></td>
    </tr>
    <tr>
      <th>Bitrate</th>
      <td><%= video_info[:bitrate] %></td>
    </tr>
    <tr>
      <th>Dimensions</th>
      <td><%= "#{video&.dig(:width)} x #{video&.dig(:height)}" %></td>
    </tr>
    <tr>
      <th>Frame rate</th>
      <td><%= video&.dig(:framerate) %></td>
    </tr>
    <tr>
      <th>Codec</th>
      <td><%= video&.dig(:codec) %></td>
    </tr>
    <tr>
      <th colspan="2">Audio</th>
    </tr>
    <tr>
      <th>Bitrate</th>
      <td><%= audio&.dig(:bitrate) || '-' %></td>
    </tr>
    <tr>
      <th>Codec</th>
      <td><%= audio&.dig(:codec) || '-' %></td>
    </tr>
    <tr>
      <th>Sample Rate</th>
      <td><%= audio&.dig(:sample_rate) || '-' %></td>
    </tr>
    <tr>
      <th>Channels</th>
      <td><%= audio&.dig(:channels) || '-' %></td>
    </tr>
  </table>
</div>
