<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to 'Project info', project_path, class: "nav-link #{controller_name == 'projects' ? 'active' : ''}" %>
  </li>

  <li class="nav-item">
    <%= link_to 'Files', files_path, class: "nav-link #{controller_name == 'files' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'File Groups', file_groups_path, class: "nav-link #{controller_name == 'file_groups' && action_name == 'index' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create File Group', new_file_group_path, class: "nav-link #{controller_name == 'file_groups' && action_name == 'new' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Upload local file', upload_new_local_file_path, class: "nav-link #{controller_name == 'uploads' && action_name == 'new_local' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Upload file from URL', upload_new_file_from_url_path, class: "nav-link #{controller_name == 'uploads' && action_name == 'new_from_url' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Convert document', new_document_conversion_path, class: "nav-link #{controller_name == 'document_conversions' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Convert video', new_video_conversion_path, class: "nav-link #{controller_name == 'video_conversions' ? 'active' : ''}" %>
  </li>
</ul>
