<nav aria-label="Examples navigation" class="space-y-1">
  <div class="<%= sidebar_section_class %>">Examples</div>
  <%= link_to "Examples overview", examples_path, class: sidebar_link_class(controller_name == "examples" && action_name == "index"), aria: { current: (controller_name == "examples" && action_name == "index" ? "page" : nil) } %>
  <%= link_to "Uploader helper examples", uploader_fields_examples_path, class: sidebar_link_class(controller_name == "examples" && action_name == "uploader_fields"), aria: { current: (controller_name == "examples" && action_name == "uploader_fields" ? "page" : nil) } %>

  <div class="<%= sidebar_section_class %>">Core API operations</div>
  <%= link_to "Project info", project_path, class: sidebar_link_class(controller_name == "projects") %>
  <%= link_to "Files", files_path, class: sidebar_link_class(controller_name == "files") %>
  <%= link_to "File groups", file_groups_path, class: sidebar_link_class(controller_name == "file_groups" && %w[index show].include?(action_name)) %>
  <%= link_to "Create file group", new_file_group_path, class: sidebar_link_class(controller_name == "file_groups" && action_name == "new") %>
  <%= link_to "Upload local file", upload_new_local_file_path, class: sidebar_link_class(controller_name == "uploads" && action_name == "new_local") %>
  <%= link_to "Upload file from URL", upload_new_file_from_url_path, class: sidebar_link_class(controller_name == "uploads" && action_name == "new_from_url") %>

  <div class="<%= sidebar_section_class %>">Conversions and add-ons</div>
  <%= link_to "Document conversion formats info", new_document_conversion_information_path, class: sidebar_link_class(controller_name == "document_conversion_information") %>
  <%= link_to "Convert document", new_document_conversion_path, class: sidebar_link_class(controller_name == "document_conversions") %>
  <%= link_to "Convert video", new_video_conversion_path, class: sidebar_link_class(controller_name == "video_conversions") %>
  <%= link_to "Virus scan", new_virus_scan_path, class: sidebar_link_class(controller_name == "virus_scan") %>
  <%= link_to "Rekognition labels", new_rekognition_label_path, class: sidebar_link_class(controller_name == "rekognition_labels") %>
  <%= link_to "Remove bg", new_remove_bg_path, class: sidebar_link_class(controller_name == "remove_bg") %>
  <%= link_to "Rekognition moderation labels", new_rekognition_moderation_label_path, class: sidebar_link_class(controller_name == "rekognition_moderation_labels") %>

  <div class="<%= sidebar_section_class %>">Metadata and webhooks</div>
  <%= link_to "Metadata", file_metadata_path, class: sidebar_link_class(controller_name == "file_metadata") %>
  <%= link_to "Webhooks", webhooks_path, class: sidebar_link_class(controller_name == "webhooks" && %w[index show].include?(action_name)) %>
  <%= link_to "Create webhook", new_webhook_path, class: sidebar_link_class(controller_name == "webhooks" && action_name == "new") %>

  <div class="<%= sidebar_section_class %>">Model and storage integrations</div>
  <%= link_to "Posts", posts_path, class: sidebar_link_class(controller_name == "posts" && %w[index show].include?(action_name)) %>
  <%= link_to "Create post", new_post_path, class: sidebar_link_class(controller_name == "posts" && action_name == "new") %>
  <%= link_to "Active Storage posts", active_storage_posts_path, class: sidebar_link_class(controller_name == "active_storage_posts" && %w[index show].include?(action_name)) %>
  <%= link_to "Create Active Storage post", new_active_storage_post_path, class: sidebar_link_class(controller_name == "active_storage_posts" && action_name == "new") %>
  <%= link_to "Comments (Mongoid)", comments_path, class: sidebar_link_class(controller_name == "comments" && %w[index show].include?(action_name)) %>
  <%= link_to "Create comment", new_comment_path, class: sidebar_link_class(controller_name == "comments" && action_name == "new") %>
</nav>
