<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to 'Project info', project_path, class: "nav-link #{controller_name == 'projects' ? 'active' : ''}" %>
  </li>

  <li class="nav-item">
    <%= link_to 'Files', files_path, class: "nav-link #{controller_name == 'files' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'File groups', file_groups_path, class: "nav-link #{controller_name == 'file_groups' && %w[index show].include?(action_name) ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create file group', new_file_group_path, class: "nav-link #{controller_name == 'file_groups' && action_name == 'new' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Upload local file', upload_new_local_file_path, class: "nav-link #{controller_name == 'uploads' && action_name == 'new_local' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Upload file from URL', upload_new_file_from_url_path, class: "nav-link #{controller_name == 'uploads' && action_name == 'new_from_url' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Convert document', new_document_conversion_path, class: "nav-link #{controller_name == 'document_conversions' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Convert video', new_video_conversion_path, class: "nav-link #{controller_name == 'video_conversions' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Webhooks', webhooks_path, class: "nav-link #{controller_name == 'webhooks' && %w[index show].include?(action_name) ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create a webhook', new_webhook_path, class: "nav-link #{controller_name == 'webhooks' && action_name == 'new' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Metadata', file_metadata_path, class: "nav-link #{controller_name == 'file_metadata' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Virus scan', new_virus_scan_path, class: "nav-link #{controller_name == 'virus_scan' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Rekognition labels', new_rekognition_label_path, class: "nav-link #{controller_name == 'rekognition_labels' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Remove bg', new_remove_bg_path, class: "nav-link #{controller_name == 'remove_bg' ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Rekognition Moderation labels', new_rekognition_moderation_label_path, class: "nav-link #{controller_name == 'rekognition_moderation_labels' ? 'active' : ''}" %>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <%= link_to 'Posts', posts_path, class: "nav-link #{controller_name == 'posts' && %w[index show].include?(action_name) ? 'active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create a post', new_post_path, class: "nav-link #{controller_name == 'posts' && action_name == 'new' ? 'active' : ''}" %>
  </li>
</ul>
